asn1crypto
certifi
cffi
decorator
idna
networkx
numpy
olefile
packaging
pandas
Pillow
pycosat
pycparser
pycrypto
pyOpenSSL
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
six
torch
torchvision
tensorboard
tensorboardX

